<%- include("../partial/userHeader") %>

<section class="content-main mt-80 mb-80">
    <div class="card mx-auto card-login col-4">
        <div class="card-body">
            <h4 class="card-title mb-4">Email</h4>
            <form method="post" action="forgotEmailValid" onsubmit="return validateLoginForm()">
                <div class="mb-3">
                    <input class="form-control" name="email" placeholder="Email" type="text" id="email">
                    <div class="error-message" id="email-error"></div>
                </div>
                <div class="mb-4">
                    <button type="submit" class="btn btn-primary w-100">Verify</button>
                </div>
            </form>
           
            <p class="text-center mb-4">Don't have an account? <a href="/api/user/register">Sign up</a></p>
        </div>
    </div>
</section>

<script>
    function validateLoginForm() {
        // Reset any existing error messages
        clearErrorMessages();

        const emailInput = document.getElementById('email');
        const emailError = document.getElementById('email-error');
        const emailValue = emailInput.value.trim();

        // Regular expression for validating email address
        const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

        if (emailValue === '') {
            displayErrorMessage(emailError, 'Please enter your email.');
            return false;
        } else if (!emailValue.match(emailPattern)) {
            displayErrorMessage(emailError, 'Please enter a valid email address');
            return false;
        }

        return true;
    }

    function displayErrorMessage(errorElement, message) {
        errorElement.textContent = message;
    }

    function clearErrorMessages() {
        const errorMessages = document.querySelectorAll('.error-message');
        errorMessages.forEach((errorMessage) => {
            errorMessage.innerText = '';
        });
    }
</script>

<%- include("../partial/footer") %>
